.card {
  width: 282px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  border: none;
  cursor: pointer;
}

.card__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  font-style: normal;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 219px;
  margin: 25px 0px 25px 0px;
}

.card__description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card__like-button {
  width: 21px;
  height: 18px;
  background-image: url(../images/likebutton.svg);
  background-position: center;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/likebutton-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  transition: all ease-in-out 0.4s;
}

.card__button-delete {
  background-image: url(../images/deletebutton.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  top: 18px;
  right: 15px;
  height: 18px;
  width: 19.3px;
  cursor: pointer;
  border: none;
}

.card__button-delete:hover {
  opacity: 0.6;
  transition: all ease-in-out 0.4s;
}
