.gallery {
  padding: 0px;
  margin: 0px 200px 0px 200px;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-gap: 20px 17px;
  justify-items: center;
  padding: 0px;
  margin: 72px 0px 0px 0px;
  list-style: none;
}

@media screen and (max-width: 660px) {
  .gallery__cards {
    display: flex;
    flex-direction: column;
    margin: 36px auto 0px auto;
    align-items: center;
  }
}

@media screen and (min-width: 660px) and (max-width: 1279px) {
  .gallery__cards {
    grid-template-columns: repeat(2, min-content);
    justify-content: center;
  }
}
