.modal {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s 0s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s 0s linear;
}

.modal__form {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 330px;
  width: 430px;
  position: relative;
}

.modal__fields {
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin: 0px 36px 0px 36px;
  border: 0px;
}

.modal__title {
  margin: 34px 0px 25px 0px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;

  color: #000000;
}

.modal__input {
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 0px 13.34px 0px;
  margin-top: 29px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.modal__input::placeholder {
  color: #000000;
}

.modal__input:invalid {
  border-bottom: 1px solid #ff0000;
}

.modal__input-error {
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 14.52px;
}

.modal__error-visible {
  font-size: 40;
}

.modal__close-button {
  position: absolute;
  right: -40px;
  top: -40px;
  background-image: url(../images/closebutton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 0px;
  padding: 0px;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__save-button {
  margin: 48px 0px 0px 0px;
  background: #000000;
  border-radius: 2px;
  height: 50px;
  padding: 0px;
  border: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  cursor: pointer;
}

.modal__save-button_disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.modal__save-button:hover {
  opacity: 0.8;
}

.modal__content {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  height: 75vh;
  width: 75vw;
  max-width: fit-content;
  position: absolute;
}

.modal__image-caption {
  position: absolute;
  bottom: -25px;
  left: 0px;
  color: white;
  margin: 0px;
  font-family: "Inter", Arial;
  font-size: 12px;
  line-height: 1.2;
}

.modal__image {
  max-width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .modal__form {
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 322px;
    width: 282px;
  }

  .modal__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2;
  }

  .modal__content {
    min-width: min-content;
    width: 240px;
    height: 299px;
  }
}
